
<div class="well-lg col-md-10">
      <form id="blog-form" class="{{#if blog}}update-blog-form{{else}}save-blog-form{{/if}}" role="form">

       
        <div class="row">
          
              {{#if blog}}update-blog-form
           <div class="form-group">

              <label for="id">ID</label>
			  <input type="text" class="form-control input-sm" value="{{blog._id}}" disabled>
			  <input id="_id" name="_id" type="hidden" value="{{blog._id}}">
            </div>

              {{/if}}
              

            <div class="form-group">
                  <label for="title">Title</label>
                  <input id="title" name="title" type="text" class="form-control input-sm" value="{{blog.title}}">
            </div>
            <div class="form-group">
                  <label for="content">Content</label>
                  <input id="content" name="content" type="text" class="form-control input-sm" value="{{blog.content}}">
            </div>

      </div>

      	<a href="/#blogs" class="btn btn-primary">Cancel</a>
        <button type="submit" class="btn btn-primary">Aanpassen</button>

      </form>